@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.link {
  color: rgb(94, 77, 245);
  text-decoration: none;
}

.link:hover {
  color: blue;
  text-decoration: underline;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container {
  max-width: 400px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  height: auto;
  background-color: rgb(255, 255, 255);
}

h1 {
  margin: 15px auto;
}
